.env
.python-version
db.sqlite3
/static
Nginx
docker-compose.yml
nginx.conf
debug.log
.flake8

*__pycache__*
*migrations/
ciudadespendientes/migrations/__pycache__/__init__.cpython-311.pyc
ciudadespendientes/data
*.log
*cpython*