{% extends "base.html" %}

{% block content %}
<div id="login">
    <div class="login-container">
        <h3 class="mt-3 "><b>Iniciar Sesión</b></h3>
        <br>
        <form method="post">
            {% csrf_token %}
            <div style="padding-bottom: 5px;">
                <label for="username">Usuario&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                {{ form.username }}
            </div>
            <div>
                <label for="password">Contraseña&nbsp;</label>
                {{ form.password }}
            </div>
            <br>
            <div style="text-align: center;">
                <input type="submit" class="btn btn-primary" value="ENTRAR">
            </div>
        </form>
    </div>
</div>
<div class="container" style="text-align: center; margin-top: -160px; margin-bottom: 130px">
    <h3 style="color: #2241a8d0;">
        “En ciudades con grandes diferencias de altura, donde las personas habitan sus cerros y quebradas, las
        soluciones de movilidad urbana parecen quedar tan pendientes como las que dan forma a los caminos que
        recorremos”
    </h3>
</div>
{% endblock %}