<div class="col-md-4 col-lg-3 mb-5">
    {{ if ge .Params.Date.Unix now.Unix }}
        <div class=card-new>
    {{ else }}
        <div class=card>
    {{ end }}
    {{if isset .Params "featured_image" }}        
        <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
            <a
                href="{{.RelPermalink}}"
                class="d-block blur-shadow-image"><img
                    src='{{ index .Params "featured_image" }}'
                    class="img-fluid border-radius-md" style="border-radius:0.5rem;" loading=lazy>
            </a>
        </div>
    {{ end }}
        <div class=card-body><span
                class="text-gradient text-primary text-uppercase text-xs font-weight-bold"></span>
            {{ if ge .Params.Date.Unix now.Unix }}
                <a href="{{.RelPermalink}}" class="card-title mt-3 h5 d-block text-darker"><b>Se viene!</b><br>{{ .Title }}</a>
            {{ else }}
                <a href="{{.RelPermalink}}" class="card-title mt-3 h5 d-block text-darker">{{ .Title }}</a>
            {{ end }}
            <p class="card-description mb-4">{{ .Description }}</p>
        </div>
    </div>
</div>