{% extends 'base.html' %} <!-- Hereda de base.html -->

{% block content %}
<div id="content">
    <div class="container">
        <div class="page-not-found">
            <img src="../static/ciudadespendientes/logo_andes.png" alt="Responsive image" width="30%">
            <h1>Ups!</h1>
            <h2>Error 403 - Sin permisos</h2>
            <br>
            <p>Lo sentimos, no tienes permisos para ver la página que intentaste acceder.</p>
            <p>Te recomendamos ir <a href="/">al inicio</a>.</p>
        </div>
    </div>
</div>
{% endblock %}