{% extends 'base.html' %} <!-- Hereda de base.html -->

{% block content %}
<div id="content">
    <div class="container">
        <div class="page-not-found">
            <img src="../static/ciudadespendientes/logo_andes.png" alt="Responsive image" width="30%">
            <h1>Error 404</h1>
            <br>
            <h3>¡Ups!<br>Te equivocaste de página</h3>
            <p>Lo sentimos, la página que estás buscando no existe.</p>
            <p>Te recomendamos ir <a href="/">al inicio</a>.</p>
        </div>
    </div>
</div>
{% endblock %}